* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(244, 248, 250);
}

.svg {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    height: 100vh;
    width: 100vw;
}

#Loader {
    animation: load 3s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
} 

@keyframes load {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}